<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-4" *ngFor="let item of items">
        <div class="card">
            <img [src]="item.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">                  
                </p>
                <h6 *ngFor="let artist of item.artists"><span class="badge bg-primary">{{ artist.name }}</span></h6>  
            </div>
        </div>
    </div>
</div>