<app-loading *ngIf="!loaded"></app-loading>

<div class="container mt-5 animated fadeIn" *ngIf="loaded">
    <div class="row">
        <div class="col-2">
            <img [src]="artist.images | noimage" style="height: 100px; width: 100px;" class="img-circle mx-auto d-block"
                alt="img-thumbnail">
        </div>
        <div class="col">
            <h3>{{ artist.name }}</h3>
            <a [href]="artist.external_urls.spotify" target="blank">
                Ir a la pagina del artista
            </a>
        </div>
        <div class="col text-end">
            <button [routerLink]="['/search']" routerLinkActive="router-link-active"
                class="btn btn-danger">Regresar</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Album</th>
                        <th scope="col">Canción</th>
                        <th scope="col">Vista Previa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of topTracks">
                        <td><img [src]="track.album.images | noimage" class="img-thumb rounded mx-auto d-block" ></td>
                        <td>{{ track.album.name }}</td>
                        <td>{{ track.name }}</td>
                        <td>
                            <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>