<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="search(termino.value)" class="form-control" placeholder="Buscar artista..." >
    </div>
</div>

<div class="row mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-4" *ngFor="let artista of artistas">
            <div class="card">
                <img [src]="artista.images[1].url" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ artista.name }}</h5>
                    <p class="card-text">                  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>